{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": ["eslint:recommended"],
    "rules": {
      "strict": "off",
      "import/prefer-default-export": "off",
      "no-underscore-dangle": "off",
      "no-console": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
      }
    },
}
